In [7]:
import pandas as pd

In [8]:
filename = 'data/car_financing.csv'
df = pd.read_csv(filename)

In [9]:
df['Interest Paid'].sum()

23139.77

In [10]:
df.sum() #ignores NA or NULL values

Month                                                           11004
Starting Balance                                            7165651.1
Repayment                                                   290550.72
Interest Paid                                                23139.77
Principal Paid                                              267410.95
New Balance                                                6898240.15
term                                                            21600
interest_rate                                                 16.0878
car_type            Toyota SiennaToyota SiennaToyota SiennaToyota ...
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             408 non-null    int64
 1   Starting Balance  408 non-null    float64
 2   Repayment         408 non-null    float64
 3   Interest Paid     408 non-null    float64
 4   Principal Paid    408 non-null    float64
 5   New Balance       408 non-null    float64
 6   term              408 non-null    int64
 7   interest_rate     408 non-null    float64
 8   car_type          408 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 28.8+ KB

In [ ]:
#Methods: 

#sum #sum of values
#cumsum #cumulative sum
#mean #mean of values
#median #arithmetic median of values
#min #minimum value
#max #maximum value
#mode #mode
#std #unbiased standard deviation
#var #unbiased variance
#quantile #compute rank-based statistics of elements